<h1>Editing Course</h1>

<%= render 'form', course: @course %>
<br>
<%= link_to 'Show', @course, :style => 'font-size:15px' , :class =>'btn btn-primary' %> |
<%= link_to 'Back', courses_path, :style => 'font-size:15px' , :class =>'btn btn-warning'  %>
